@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como dispositivos móviles */
}


html, body {
    height: 100%;
    margin: 2rem 2rem 2rem 2rem;
  }

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
font-family: 'Open Sans', sans-serif;
}

a {
text-decoration: none;
font-size: 1.2rem;
}

li {
  margin-bottom: 1rem; /* Ajusta este valor según el espaciado deseado */
}

table {
  border-collapse: separate;
  border-spacing: 1rem; /* Ajusta este valor según el espaciado deseado */
}




.header .flex .navbar a{
  margin-left: 2rem;
  font-size: 2rem;
  color:var(--black);
}


.image{
border: 1pt solid black;
padding: 1.1rem;
margin-top: 1rem;
margin-left: 5rem;
margin-bottom: 1rem;
justify-content: center;
width: 300px;

   /* padding: 0rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;*/
}

main{
display: flex;
flex-wrap: wrap; 
}

form input,
form select,
form textarea {
  margin-bottom: 0.5rem; /* Espacio inferior entre elementos de entrada (input), selección (select) y área de texto (textarea) */
}
    

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center; /* Alineación vertical de los elementos */
    justify-content: center;
  }
  
  .flex-item {
    box-sizing: border-box;
  }
  
  .col1 {
    flex-basis: 20%;
  }
  
  .col2 {
    flex-basis: 20%;
    background-color:#193366;

  }

  .col3 {
    flex-basis: 55%;
    background-color:#193366;
    color:white
  }

.flex-item:nth-child(4) {
    flex-basis: 30%;
    margin: 0rem 1rem;
    padding: 2%;
    background-color: #990073;
    color:white
}

.flex-item:nth-child(5) {
  flex-basis: 60%;
  margin: 0rem 1rem;
  padding: 2%;
}

.flex-item:nth-child(6),
.flex-item:nth-child(7) {
  flex-basis: 45%;
  margin: 0rem 1rem;
  padding: 2%;
  align-items: center;
  background-color: #b30086;
  color: white
}

  
.flex-item.full-width {
    flex-basis: 92%;
    margin: 0rem 1rem;
    padding: 2%;
    align-items: center;
    background-color:#193366;
    color: white
  }
  
.flex-item.last {
    flex-basis: 92%;
    margin: 0rem 1rem;
    padding: 2%;
    align-items: center;
    background-color: #b30086;
    color: white
}

@media (max-width:991px){

  html{
    font-size: 55%;
 }

}

@media (max-width:768px){


}

@media (max-width:300px){

  html{
     font-size: 50%;
  }

  .heading img{
     height: 3rem;
  }

  .heading h3{
     font-size: 3rem;
  }

}
